
h1 {
  text-align: center;
  margin-bottom: 5%;
}

#container {
    width: 100%;
}

#javaScript {
    width: 45%;
    float: left;
    margin-left: 4%;
    border-right: 1px dashed gray;
    overflow-wrap: break-word;
}

#javaScript h2 {
    color: blue;
}

#ruby {
    width: 45%;
    float: right;
    margin-right: 4%;
    overflow-wrap: break-word;
}

#ruby h2 {
    color: red;
}
