h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

div {
text-align: center;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  width: 300px;
}